@import "@/styles/__settings";

.blurb {
    background-color: $white;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
    border-radius: $borderRadius;
    overflow: hidden;

    & .image {
        position: relative;
        overflow: hidden;
    
        & a {
            display: block;
            width: 100%;
            padding: 30% 0;
    
            & img {
                left: 50% !important;
                top: 50% !important;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }

    & .desc {
        padding: $defaultSpacing $defaultSpacing 50px;

        & h3 {
            margin-bottom: $defaultSpacing;
            display: block;
            width: 100%;
        }

        & p {
            display: block;
            width: 100%;
            margin-bottom: $defaultSpacing;
        }

        & a {

        }
    }
}
