@import "@/styles/__settings";

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow: visible;

    & .navInnerWrapper {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;

        & a {
            display: block;
        }

        & .logoWrapper {
            display: flex;
            align-items: center;
        
            & img {
                width: 100%;
                height: auto;
                max-width: 200px;
                max-height: 50px;
            }
        }
        
        & .navLinks {
            display: flex;
            align-items: center;
            margin: 0;
        
            & a {
                display: block;
                margin: 0;
                padding: 16px;
            }

            .topLink {
                position: relative;

                & .subMenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    margin: 0;
                    max-width: none;
                    width: 200%;
                    background: $black;
                    color: $white;
                    transform-origin: top;
                    border: 1px solid $black;
                    border-radius: 8px;
                    overflow: hidden;

                    & li {
                        &:hover {
                            background: $white;
                            color: $black;
                        }
                    }
                }
            }
        }
    }

}