@import "@/styles/__settings";

.sliderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    & .sliderTrack {
        position: relative;

        & img {
            width: 100%;
            height: auto;
        }

        & .sliderButton {
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: $black;
            margin: 0 16px;
            color: $white;

            &.sliderButtonPrev {
                right: 100%
            }

            &.sliderButtonNext {
                left: 100%;
            }
        }
    }
}